n8n-workflows/instagram-post-scheduler.json
{
  "name": "instagram-post-scheduler",
  "nodes": [
    {
      "parameters": {
        "triggerTimes": [
          {
            "mode": "everyX",
            "value": 3,
            "unit": "hours"
          }
        ]
      },
      "name": "Cron Trigger",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        100,
        300
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "sheetId": "SHEET_ID_GOES_HERE",
        "range": "Sheet1!A:C"
      },
      "name": "Read Pending Posts",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 1,
      "position": [
        300,
        300
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "1",
          "name": "Google Sheets OAuth"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.length }}",
              "operation": "larger",
              "value2": 0
            }
          ]
        }
      },
      "name": "Check If Rows Exist",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        500,
        300
      ]
    },
    {
      "parameters": {
        "url": "https://graph.facebook.com/v18.0/INSTAGRAM_ACCOUNT_ID/media",
        "method": "POST",
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "image_url",
              "value": "={{ $json[\"Media URL\"] }}"
            },
            {
              "name": "caption",
              "value": "={{ $json[\"Caption\"] }}"
            },
            {
              "name": "access_token",
              "value": "IG_ACCESS_TOKEN"
            }
          ]
        }
      },
      "name": "Upload to Instagram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        700,
        300
      ]
    },
    {
      "parameters": {
        "url": "https://graph.facebook.com/v18.0/INSTAGRAM_ACCOUNT_ID/media_publish",
        "method": "POST",
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "creation_id",
              "value": "={{ $json[\"id\"] }}"
            },
            {
              "name": "access_token",
              "value": "IG_ACCESS_TOKEN"
            }
          ]
        }
      },
      "name": "Publish Media",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "sheetId": "SHEET_ID_GOES_HERE",
        "range": "Sheet1!C:C",
        "valueInputMode": "USER_ENTERED",
        "options": {},
        "cellDataUi": {
          "cellDataValues": [
            {
              "range": "={{ $json[\"rowNumber\"] }}",
              "value": "posted"
            }
          ]
        }
      },
      "name": "Update Status to Posted",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 1,
      "position": [
        1100,
        300
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "1",
          "name": "Google Sheets OAuth"
        }
      }
    }
  ],
  "connections": {
    "Cron Trigger": {
      "main": [
        [
          {
            "node": "Read Pending Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Pending Posts": {
      "main": [
        [
          {
            "node": "Check If Rows Exist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If Rows Exist": {
      "main": [
        [
          {
            "node": "Upload to Instagram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to Instagram": {
      "main": [
        [
          {
            "node": "Publish Media",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Publish Media": {
      "main": [
        [
          {
            "node": "Update Status to Posted",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}